<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Cadastro Reserva no Auditorio</title>
</head>
	<body>
		<h1>Adicione um dia no auditorio</h1>
		<div>
			<form action="salvareserva" method="post">
				<input type="hidden" name="id" th:value="${r?.id}" />
	
				<h1>Cadastro de Reservas</h1>
				<label>Data da Reserva</label> <input type="date" name="data"
					th:value="${r?.data}" > <label>Descrição</label> <input
					type="text" name="descricaoReserva"
					th:value="${r?.descricaoReserva}"> <label>Motivo da
					Reserva </label> <select name="tipo.id">
					<option th:each="t : ${tipo}" th:text="${t?.nome}"
						th:value="${t?.id}" th:selected="${t.id == r?.tipo?.id}"
						selected="selected"></option>
	
	
	
				</select> <label> Periodo da Reserva </label> 
				<select name="periodo">
					<option
						th:each="periodo : ${T(br.com.sp.senai.auditorio.auditorio.model.Periodo).values()}"
						th:value="${periodo}" 
						th:text="${periodo}"
						th:selected="${periodo.toString() == r?.periodo?.toString()}"
						></option>
				</select>
				<button type="submit">Reservar</button>
			</form>
		</div>
	</body>
</html>