<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/calendar_estilo.css">
</head>
<body>
  <div class="content">
    <div class="calendar-container">
      <div class="calendar"> 
        <div class="year-header"> 
          <span class="left-button" id="prev"> &lang; </span> 
          <span class="year" id="label"></span> 
          <span class="right-button" id="next"> &rang; </span>
        </div> 
        <table class="months-table"> 
          <tbody>
            <tr class="months-row">
              <td class="month">Jan</td> 
              <td class="month">Fev</td> 
              <td class="month">Mar</td> 
              <td class="month">Abr</td> 
              <td class="month">Mai</td> 
              <td class="month">Jun</td> 
              <td class="month">Jul</td>
              <td class="month">Ago</td> 
              <td class="month">Set</td> 
              <td class="month">Out</td>          
              <td class="month">Nov</td>
              <td class="month">Dez</td>
            </tr>
          </tbody>
        </table> 
        
        <table class="days-table"> 
          <td class="day">Seg</td> 
          <td class="day">Ter</td> 
          <td class="day">Qua</td> 
          <td class="day">Qui</td> 
          <td class="day">Sex</td> 
          <td class="day">Sab</td> 
          <td class="day">Dom</td>
        </table> 
        <div class="frame"> 
          <table class="dates-table"> 
              <tbody class="tbody">             
              </tbody> 
          </table>
        </div> 
        <button class="button" id="add-button">Adicionar evento</button>
      </div>
    </div>
    <div class="events-container">
    </div>
   
  <!-- Dialog Box-->
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
  </script>
  <script src="js/calendar_javascript.js"></script>
</body>
</html>