<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Calendário</title>
<meta name="description" content="Calendar">
<link rel="stylesheet" href="../css/calendar_estilo.css">

</head>

<body>
	<nav>
		<div class="nav-wrapper">
			<ul class="menu">
				<li>
					<h1>
						<span class="senai">SENAI</span>
					</h1>
				</li>
			</ul>
		</div>
	</nav>
<div class="caixa">
			<h4>Como reservar?</h4>
			<h4>Veja o Passo a Passo:</h4><br>
			<h4>1º) Selecione uma data específica.</h4>
			<h4>2º) Clique em adicionar evento.</h4>
			<h4>3º) Preencha os campos e clique em OK.</h4>
			<br>
			<h4>Também é possível buscar por reservas já feitas através da data ou periodo 
				em que foi realizada. A aréa 
				de busca se encontra abaixo do calendário. 
			</h4>
			</div>

	<div class="content">
		<div class="calendar-container">
			<div class="calendar">
				<div class="year-header">
					<span class="left-button" id="prev"> &lang; </span> <span
						class="year" id="label"></span> <span class="right-button"
						id="next"> &rang; </span>
				</div>
				<table class="months-table">
					<tbody>
						<tr class="months-row">
							<td class="month">Jan</td>
							<td class="month">Fev</td>
							<td class="month">Mar</td>
							<td class="month">Abr</td>
							<td class="month">Mai</td>
							<td class="month">Jun</td>
							<td class="month">Jul</td>
							<td class="month">Ago</td>
							<td class="month">Set</td>
							<td class="month">Out</td>
							<td class="month">Nov</td>
							<td class="month">Dez</td>
						</tr>
					</tbody>
				</table>

				<table class="days-table">
					<td class="day">Seg</td>
					<td class="day">Ter</td>
					<td class="day">Qua</td>
					<td class="day">Qui</td>
					<td class="day">Sex</td>
					<td class="day">Sab</td>
					<td class="day">Dom</td>
				</table>
				<div class="frame">
					<table class="dates-table">
						<tbody class="tbody">
						</tbody>
					</table>

				</div>
				<button class="button" id="add-button">Adicionar evento</button>
			</div>
		</div>
		<div class="dialog" id="dialog">
			<h2 class="dialog-header">Adicionar novo evento</h2>


			<form class="form" id="form" action="salvareserva" method="post">
				<input type="hidden" name="id" th:value="${r?.id}" /> <input
					type="hidden" name="data" id="data" />

				<div class="form-container" align="center">
					<label class="form-label" id="valueFromMyButton" for="name">Responsavel</label>
					<input class="input" type="text" maxlength="36" name="nome"
						th:value="${r?.nome}"> <label class="form-label"
						id="valueFromMyButton" for="name">Descrição</label>
					<textarea class="input_description" id="description"
						name="descricaoReserva" th:value="${r?.descricaoReserva}"></textarea>

					<label class="form-label"> Periodo da Reserva </label> <select
						class="input" name="periodo">
						<option
							th:each="periodo : ${T(br.com.sp.senai.auditorio.auditorio.model.Periodo).values()}"
							th:value="${periodo}" th:text="${periodo}"
							th:selected="${periodo.toString() == r?.periodo?.toString()}"></option>
					</select> <label class="form-label" id="valueFromMyButton" for="count">Motivo</label>

					<select class="input" name="tipo.id" id="count">
						<option th:each="t : ${tipo}" th:text="${t.nome}"
							th:value="${t?.id}" th:selected="${t.id == r?.tipo?.id}"
							selected="selected"></option>
					</select> <input type="button" value="Cancelar" class="button"
						id="cancel-button"> <input type="submit" value="OK"
						class="button" id="ok-button">
				</div>

			</form>

		</div>

	</div>


	<!-- Dialog Box-->

	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
		crossorigin="anonymous">
		
	</script>


	<script src="../js/calendar_javascript.js"></script>


	<div class="divList">

		<div class="form-data-periodo">
			<span style="margin-top: 350px;"><div
					th:replace="fragments/mensagem"></div></span>
			<form action="/buscar">
				<label>Buscar por data</label><br> <input type="search"
					name="buscar" class="input-buscar"> <input type="submit"
					value="Buscar" class="button-buscar">
			</form>

		</div>
	</div>

  <nav>
            <div class="nav-wrapper">
                <ul class="menu">
                    <li> <h1> <span class="senai">SENAI</span> </h1> </li>            
                </ul>
            </div>
        </nav>
        <nav class="main-menu">
        <ul>
            
            <li>
                <a href="http://localhost:8080/">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        <b>Home</b>
                    </span>
                </a>
            
            </li>

            <li>
                <a href="/login">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        <b>Login</b>
                    </span>
                </a>
            
            </li>

            <li>
                <a href="/cadastro">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        <b>Cadastro</b>
                    </span>
                </a>
            
            </li>
            
        </ul>

        <ul class="logout">
            <li>
            <a href="/logout">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        <b>Deslogar</b>
                    </span>
                </a>
            </li>  
        </ul>
    </nav>


	<footer>
		<div class="icones">
			<a href="https://www.facebook.com/senainacional/" target="_blank"
				title="Link de acesso ao facebook do SENAI"><img
				src="../imagens/facebook.png"></a> <a
				href="https://twitter.com/senainacional?lang=en" target="_blank"
				title="Link de acesso ao twitter do SENAI"><img
				src="../imagens/twitter.png"></a> <a
				href="https://www.youtube.com/c/senaibrasil" target="_blank"
				title="Link de acesso ao youtube do SENAI"><img
				src="../imagens/youtube.png"></a> <a
				href="https://br.linkedin.com/company/senai-nacional"
				target="_blank" title="Link de acesso ao linkedin do SENAI"><img
				src="../imagens/linkedin.png"></a> <a
				href="https://www.instagram.com/senai_nacional/" target="_blank"
				title="Link de acesso ao instagram do SENAI"><img
				src="../imagens/instagram.png"></a>
		</div>
		<div class="info-senai">
			<p>
				O Serviço Nacional de Aprendizagem Industrial (SENAI) tem como
				objetivo<br> estimular a inovação industrial por meio da
				educação, consultoria,<br> pesquisa aplicada e serviços
				técnicos e tecnológicos que são decisivos<br> para a
				competitividade das empresas do Estado e do Brasil.
			</p>
		</div>
		<div class="direitos">
			<small>Copyright 2022 © Todos os direitos reservados.</small>
		</div>
	</footer>
</html>
</body>
</html>