<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Formulario de Cadasatro</title>
<style >
	*{
		text-align: center;
		margin:auto;
		
	}
	form{
		background-color: cyan;
		border: solid 4px black;
		padding: 15px;
	}
	div{
		background-color: aquamarine;
		width: 30%;
	}
	td{
	padding: 1.2em;
	}

</style>
</head>

<body>
	<h1>Formulário de Cadastro</h1>
	<div>
	<script src="js/JavaScript"></script>
	<form action="save" method="post" onsubmit="cadastrarUsuario">
		<input type="hidden" name="id" th:value="${users?.id}"/>
		
		<h1>Cadastro de Users</h1>
		<label>nome</label><input type="text" name="nome" th:value="${users?.nome}">
		<label>Email</label><input type="text" name="email" th:value="${users?.email}"> 
		 <label>senha</label><input
			type="text" name="senha" th:value="${users?.senha}"> 
			<label>nif</label><input type="text" name="nif" th:value="${users?.nif}
			"

			
			>
			</select> <label> Nível de acesso </label> 
				<select name="hierarquia">
					<option
						th:each="hierarquia : ${T(br.com.sp.senai.auditorio.auditorio.model.Hierarquia).values()}"
						th:value="${hierarquia}" 
						th:text="${hierarquia}"
						th:selected="${hierarquia.toString() == r?.hierarquia?.toString()}"
						></option>
				</select>
		<button type="submit"> Enviar</button>
		
		 <span style="margin-top: 350px;"><div th:replace="fragments/mensagem" ></div></span>	
	</form>
	</div>

</body>
</html>