<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/cadastro_estilo.css" rel="stylesheet">
    <title>Página de Cadastro</title>
</head>
<body>
    <nav>
            <div class="nav-wrapper">
            <img src="imagens/logo_senai_preto.png" alt="Logo do SENAI">
                
            </div>
        </nav>
        <nav class="main-menu">
        <ul>
            
            <li>
                <a href="http://10.92.198.27:8080/evento">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        <b>Home</b>
                    </span>
                </a>
            
            </li>

            <li>
                <a href="/login">
                    <i class="fa fa-sign-in"></i>
                    <span class="nav-text">
                        <b>Login</b>
                    </span>
                </a>
            
            </li>

            <li>
                <a href="/cadastro">
                    <i class="fa fa-calendar"></i>
                    <span class="nav-text">
                        <b>Cadastrar</b>
                    </span>
                </a>
            
            </li>
              <li>
                <a href="/listareserva/1">
                    <i class="fa fa-list"></i>
                    <span class="nav-text">
                        <b>Lista de Reservas</b>
                    </span>
                </a>
            
            </li>
              <li>
                <a href="/lista/1">
                    <i class="fa fa-list"></i>
                    <span class="nav-text">
                        <b>Listas de Usuario</b>
                    </span>
                </a>
            
            </li>
              <li>
                <a href="/listatiporeserva/1">
                    <i class="fa fa-list"></i>
                    <span class="nav-text">
                        <b>Lista Tipo da Reserva</b>
                    </span>
                </a>
            
            </li>
            
               <li>
                <a href="/listatiporeserva/1">
                    <i class="fa fa-list"></i>
                    <span class="nav-text">
                        <b>Lista Tipo da Reserva</b>
                    </span>
                </a>
            
            </li>
            
        </ul>

        <ul class="logout">
            <li>
            <a href="/logout">
                    <i class="fa fa-sign-out"></i>
                    <span class="nav-text">
                        <b>Deslogar</b>
                    </span>
                </a>
            </li>  
        </ul>
    </nav>
    
    <div class="login-box">
        <h2>CADASTRO</h2>
        <form  action="save" method="post">
        <input type="hidden" name="id" th:value="${users?.id}"/>
                <div class="user-box">
                    <input type="text" name="nome" th:value="${users?.nome}" required="">
                    <label>Nome</label>
                </div>
                <div class="user-box">
                    <input type="text" name="nif" th:value="${users?.nif}" required="">
                    <label>NIF</label>
                </div>
                <div class="user-box">
                    <input type="text" name="email" th:value="${users?.email}"required="">
                    <label>Email</label>
                </div>
                <div class="user-box">
                    <input type="password" name="senha" th:value="${users?.senha}" required="">
                    <label>Senha</label>
                </div>
                  <div class="user-box">
                    <select name="cars" id="cars" required="">
                        <option value="" disabled selected>Tipo de Hierarquia:</option>
                        <option th:each="hierarquia : ${T(br.com.sp.senai.auditorio.auditorio.model.Hierarquia).values()}"
                        th:value="${hierarquia}"
                        th:text="${hierarquia}"
                        th:selected="${hierarquia.toString() == r?.hierarquia?.toString()}"></option>
                    </select>
                </div>

                <button type="submit" class="custom-btn btn-15"><b>CADASTRAR</b></button>							
         	<span style="margin-top: 350px;"><div th:replace="fragments/mensagem" ></div></span>	
         	
            <!--
                <div th:if="${param.error}">
                    Senha ou Username Invalidos!
                </div>

                <div th:if="${param.logout}">
                    Você está desconectado!
                </div>
                -->
        </form>
    </div>
    <footer>
	<div class="icones">
		<a href="https://www.facebook.com/senainacional/" target="_blank" title="Link de acesso ao facebook do SENAI"><img src="imagens/facebook.png"></a>
		<a href="https://twitter.com/senainacional?lang=en" target="_blank" title="Link de acesso ao twitter do SENAI"><img src="imagens/twitter.png"></a>
		<a href="https://www.youtube.com/c/senaibrasil" target="_blank" title="Link de acesso ao youtube do SENAI"><img src="imagens/youtube.png"></a>
		<a href="https://br.linkedin.com/company/senai-nacional" target="_blank" title="Link de acesso ao linkedin do SENAI"><img src="imagens/linkedin.png"></a>
		<a href="https://www.instagram.com/senai_nacional/" target="_blank" title="Link de acesso ao instagram do SENAI"><img src="imagens/instagram.png"></a>
	</div>
	<div class="info-senai">
		<p></p>			
	</div>
	<div class="direitos">
		<small>Copyright 2022 © Todos os direitos reservados.</small>
	</div>		
</footer>

</body>
</html>