<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi:ital@1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>

    <title>Calendario</title>
</head>

    <body>
        <nav>
            <div class="nav-wrapper">
                <ul class="menu">
                    <li> <h1> <span class="senai">SENAI</span> </h1> </li>            
                </ul>
            </div>
        </nav>
    
    <div class="titulo-calendar">    
        <h3>Calendario do auditório</h3>
    </div>

    <div class="dime-cale">
            <div class="todo-grid-parent">
                    <select id ="categoryFilter"></select>  
            </div>
            
            <div class="todo-calendar todo-block">
                <div id='calendar'></div>
            </div>
    </div>
    <nav class="main-menu">
        <ul>
            
            <li>
                <a href="#home">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        <b>Home</b>
                    </span>
                </a>
            
            </li>
    
            <li>
                <a href="#login">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        <b>Login</b>
                    </span>
                </a>
            
            </li>
    
            <li>
                <a href="#cadastro">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        <b>Cadastro</b>
                    </span>
                </a>
            
            </li>
            
        </ul>
    
        <ul class="logout">
            <li>
            <a href="#">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        <b>Deslogar</b>
                    </span>
                </a>
            </li>  
        </ul>
    </nav>
        <footer>
           
            <div class="info-senai">
                <p>O Serviço Nacional de Aprendizagem Industrial (SENAI) tem como objetivo<br> 
                    estimular a inovação industrial por meio da educação, consultoria,<br>
                    pesquisa aplicada e serviços técnicos e tecnológicos que são decisivos<br> 
                    para a competitividade das empresas do Estado e do Brasil.</p>			
            </div>
            <div class="direitos">
                <small>Copyright 2022 © Todos os direitos reservados.</small>
            </div>		
        </footer>

    <script src="../js/index.js"></script>
        
    </body>

</html>