<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi:ital@1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>

    <title>Calendario</title>
</head>

    <body>
           <nav>
            <div class="nav-wrapper">
            <img src="imagens/logo_senai_preto.png" alt="Logo do SENAI">
                
            </div>
        </nav>

    
    <div class="titulo-calendar">    
        <h3>Calendario do auditório</h3>
    </div>

    <div class="dime-cale">
            <div class="todo-grid-parent">
                    <select id ="categoryFilter"></select>  
            </div>
            
            <div class="todo-calendar todo-block">
                <div id='calendar'></div>
            </div>
    </div>

        <nav class="main-menu">
        <ul>
            
            <li>
                <a href="http://localhost:8080/evento">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        <b>Home</b>
                    </span>
                </a>
            
            </li>

            <li>
                <a href="/login">
                    <i class="fa fa-sign-in"></i>
                    <span class="nav-text">
                        <b>Login</b>
                    </span>
                </a>
            
            </li>

            <li>
                <a href="/cadastro">
                    <i class="fa fa-calendar"></i>
                    <span class="nav-text">
                        <b>Cadastrar</b>
                    </span>
                </a>
            
            </li>
              <li>
                <a href="/listareserva/1">
                    <i class="fa fa-list"></i>
                    <span class="nav-text">
                        <b>Lista de Reservas</b>
                    </span>
                </a>
            
            </li>
              <li>
                <a href="/lista/1">
                    <i class="fa fa-list"></i>
                    <span class="nav-text">
                        <b>Listas de Usuario</b>
                    </span>
                </a>
            
            </li>
              <li>
                <a href="/listatiporeserva/1">
                    <i class="fa fa-list"></i>
                    <span class="nav-text">
                        <b>Lista Tipo da Reserva</b>
                    </span>
                </a>
            
            </li>
            
        </ul>

        <ul class="logout">
            <li>
            <a href="/logout">
                    <i class="fa fa-sign-out"></i>
                    <span class="nav-text">
                        <b>Deslogar</b>
                    </span>
                </a>
            </li>  
        </ul>
    </nav>
    	
           <footer>
	<div class="icones">
		<a href="https://www.facebook.com/senainacional/" target="_blank" title="Link de acesso ao facebook do SENAI"><img src="imagens/facebook.png"></a>
		<a href="https://twitter.com/senainacional?lang=en" target="_blank" title="Link de acesso ao twitter do SENAI"><img src="imagens/twitter.png"></a>
		<a href="https://www.youtube.com/c/senaibrasil" target="_blank" title="Link de acesso ao youtube do SENAI"><img src="imagens/youtube.png"></a>
		<a href="https://br.linkedin.com/company/senai-nacional" target="_blank" title="Link de acesso ao linkedin do SENAI"><img src="imagens/linkedin.png"></a>
		<a href="https://www.instagram.com/senai_nacional/" target="_blank" title="Link de acesso ao instagram do SENAI"><img src="imagens/instagram.png"></a>
	</div>
	<div class="info-senai">
		<p></p>			
	</div>
	<div class="direitos">
		<small>Copyright 2022 © Todos os direitos reservados.</small>
	</div>		
</footer>

    <script src="../js/index.js"></script>
        
    </body>

</html>