<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link href='fullCalendar/lib/main.css' rel='stylesheet' />
     <link rel="icon" href="../imagens/favicon.png">
    <script src='fullCalendar/lib/main.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script>
    
    <script>
    const ul = document.getElementById('reserva')
    const url = 'http://localhost:8080/index'
    
  
    function createNode(element) {
        return document.createElement(element)
    }

    function append(parent, el) {
        return parent.appendChild(el);
    }
</script>
  </head>
  <body>
    <div id='calendar'>
    <ul>
    	<li>
    	
    	</li>
    </ul>
    <span>
    
    </span>
    </div>
    <h2>RESERVAS</h2>
    <script src="js/API.js"></script>
  </body>
</html>