<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de Usuários</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../css/lista_estilo.css">

    <script>

function test(pageNumber)
{

  var page="#page-id-"+pageNumber;
  $('.select').hide()
  $(page).show()

}

</script>
</head>
<body>

	<nav>
		<div class="nav-wrapper">
			<ul class="menu">
				<li> <h1> <span class="senai">SENAI</span> </h1> </li>            
			</ul>
		</div>
	</nav>

	<nav class="main-menu">
	<ul>
		
		<li>
			<a href="http://localhost:8080/evento">
				<i class="fa fa-home fa-2x"></i>
				<span class="nav-text">
					<b>Evento</b>
				</span>
			</a>
		
		</li>

		<li>
			<a href="/login">
				<i class="fa fa-home fa-2x"></i>
				<span class="nav-text">
					<b>Login</b>
				</span>
			</a>
		
		</li>

		<li>
			<a href="/cadastro">
				<i class="fa fa-home fa-2x"></i>
				<span class="nav-text">
					<b>Cadastro</b>
				</span>
			</a>
		
		</li>
		
	</ul>

	<ul class="/logout">
		<li>
		<a href="#">
				<i class="fa fa-power-off fa-2x"></i>
				<span class="nav-text">
					<b>Deslogar</b>
				</span>
			</a>
		</li>  
	</ul>
</nav>
	<h1 style="margin-left: 35%;"> Lista de agendamentos</h1>
	
	<div class="divLista">
		<table class="lista">
			<thead>
				<tr>
					<th class="aumentar">ID</th>
					<th class="aumentar">Nome</th>
					<th class="aumentar">E-mail</th>
					<th class="aumentar">Hierarquia</th>
					<th class="aumentar">Nif</th>
					<th class="aumentar">Alterar</th>
					<th class="aumentar">Excluir</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user:${usuario}" >
					<td th:text="${user.id}" />
					<td th:text="${user.nome}" />
					<td th:text="${user.email}" />
					<td th:text="${user.hierarquia}" />
					<td th:text="${user.nif}" />				
					<td><a th:href="@{/alterando(id=${user.id})}"><i class="material-icons">create</i> </a></td>
					<td><a th:href="@{/exclue(id=${user.id})}"> <i class="material-icons">delete_forever</i> </a></td>
				</tr>
			</tbody>
		</table>
		 <script src="js/pagination.js"></script>
	</div>

	<ul class="pagination" style="margin-left: 42%;">
		<li th:class="${page == 1 ? 'disabled' : 'waves-effect'}"><a
			th:href="${page > 1 ? page - 1 : '#'}"><i
				class="material-icons"><b><img alt="setaDireita" src="../icons/seta-para-a-esquerda.png" style="width: 22px;"></b></i></a></li>
		<li th:class="${page == p ? 'active purple' : 'waves-effect'}"
			th:each="p:${numPaginas}"><a th:href="${p}"><span th:text="${p}"></span></a></li>

		<li th:class="${page == totalPaginas ? 'disabled' : 'waves-effect'}"><a
			th:href="${page < totalPaginas ? page + 1 : '#'}"><i
				class="material-icons"><b><img alt="setaDireita" src="../icons/foward.png" style="width: 22px;"></b></i></a></li>

	</ul>
	
	
	<footer>
        <div class="icones">
           <a href="https://www.facebook.com/senainacional/" target="_blank" title="Link de acesso ao facebook do SENAI"><img src="../imagens/facebook.png"></a>
		<a href="https://twitter.com/senainacional?lang=en" target="_blank" title="Link de acesso ao twitter do SENAI"><img src="../imagens/twitter.png"></a>
		<a href="https://www.youtube.com/c/senaibrasil" target="_blank" title="Link de acesso ao youtube do SENAI"><img src="../imagens/youtube.png"></a>
		<a href="https://br.linkedin.com/company/senai-nacional" target="_blank" title="Link de acesso ao linkedin do SENAI"><img src="../imagens/linkedin.png"></a>
		<a href="https://www.instagram.com/senai_nacional/" target="_blank" title="Link de acesso ao instagram do SENAI"><img src="../imagens/instagram.png"></a>
        </div>
        <div class="info-senai">
            <p>O Serviço Nacional de Aprendizagem Industrial (SENAI) tem como objetivo<br> 
                estimular a inovação industrial por meio da educação, consultoria,<br>
                pesquisa aplicada e serviços técnicos e tecnológicos que são decisivos<br> 
                para a competitividade das empresas do Estado e do Brasil.</p>			
        </div>
        <div class="direitos">
            <small>Copyright 2022 © Todos os direitos reservados.</small>
        </div>		
    </footer>
</body>
</html>