<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de Reservas</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"
	media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Responsavel</th>
				<th>Data</th>
				<th>Descrição</th>
				<th>periodo</th>
				<th>Motivo da reserva</th>
				<th>Editar</th>
				<th>Cancelar</th>

			</tr>

		</thead>
		<tbody>
			<tr th:each="r:${reserva}">

				<td th:text="${r.id}" />
				<td th:text="${r.nome}" />
				<td th:text="${r.data}" />
				<td th:text="${r.descricaoReserva}" />
				<td th:text="${r?.periodo}">
				<td th:text="${r?.tipo?.nome}"/>
				<td><a th:href="@{/alteraReserva(id=${r.id})}"><i
						class="material-icons">create</i> </a></td>

				<td><a th:href="@{/exclueReserva(id=${r.id})}"> <i
						class="material-icons">delete_forever</i>
				</a></td>

			</tr>

		</tbody>


	</table>

	<ul class="pagination">
		<li th:class="${pagAtual == 1 ? 'disabled' : 'waves-effect'}"><a
			th:href="${pagAtual > 1 ? pagAtual - 1 : '#'}"><i
				class="material-icons">chevron_left</i></a></li>
		<li th:class="${pagAtual == p ? 'active purple' : 'waves-effect'}"
			th:each="p:${numPag}"><a th:href="${p}"><span th:text="${p}"></span></a></li>

		<li th:class="${pagAtual == totalPages ? 'disabled' : 'waves-effect'}"><a
			th:href="${pagAtual < totalPages ? pagAtual + 1 : '#'}"><i
				class="material-icons">chevron_right</i></a></li>

	</ul>
</body>
</html>